/**
 * @name VacBan.wtf
 * @author pdc#8985
 * @version 1.0.0
 * @description A theme based of the style of the forum https://vacban.wtf
 * @source https://github.com/Proxiito/proxiito.github.io
*/

@import url('https://proxiito.github.io/custom.css');

/* Variables */
:root {
    --avatar-size: 32px;
    --background-image: url('https://i.imgur.com/7SbtKvw.png');
    --home-image: url('https://i.imgur.com/233d55Y.gif');
    --background-solid: #161921;
    --background-solid-dark: #101218;
    --background-solid-darker: #0c0e12;
    --accent: 37, 172, 232;
    --accent-alt: 29, 101, 134;
}
